		body {background-image: url('main_gate.jpg');
		background-size: cover;
		}
		.line{
		height:4px;
		}
		.main{
		background-color:white;	
		margin-right:100px;
		margin-left:100px;
		margin-top:40px;
		margin-bottom:40px;
		height:2000px;
		}
		.imgg{	
		margin-left:35px;
		}
		.sear{	
		font-family:arial;
		font-size:150%;
		}
		.searc{	
		width:350px;
		height:40px;
		}
		.tabb{
		padding:1px;
		font-family: arial;
		font-size: 70%;
		color:gray;
		padding-left:460px;
		padding-top:20px;
		}
		.tabx{
		font-family: arial;
		font-size: 100%;
		color:white;
		background-color:darkorange;
		margin-left:40px;
		margin-top:10px;
		height:40px;
		width:1050px;
		}
		.tabs{
		font-family: arial;
		font-size: 100%;
		margin-left:40px;
		margin-top:10px;
		height:40px;
		width:1050px;
		}
		.fram{
		margin-left:40px;
		margin-top:10px;
		margin-right: -2px;
		frameborder:0px;
		padding:0px;
		height:400px;
		width:350px;
		allow:accelerometer;
		padding:none;
		border:none;
		}
		.frama{
		margin-top:10px;
		margin-right: -2px;
		margin-left:-2px;
		frameborder:none;
		padding:none;
		height:400px;
		width:350px;
		allow:accelerometer;
		padding:none;
		border:none;
		}
		.framb{
		margin-top:10px;
		margin-right: -2px;
		margin-left:-2px;
		frameborder:none;
		padding:none;
		height:400px;
		width:350px;
		allow:accelerometer;
		padding:none;
		border:none;
		}
		.artx{
		font-family: arial;
		color:white;
		background-color:darkred;
		margin-left:40px;
		margin-top: -4px;
		height:200px;
		width:1050px;
		}
		.cir{
		margin-top:40px;
		margin-bottom:50px;
		margin-left:10px;
		height:60px;
		width:60px;
		border-radius:100px;
		background-color:darkgray;
		}
		.reg{
		padding-top:20px;
		padding-left:20px;
		margin-top:40px;
		margin-bottom:50px;
		height:40px;
		width:120px;
		border:2px solid white;
		}
		.cirs{
		width:100px;
		}
		.regs{
		width:200px;
		}
		.texs{
		width:600px;
		}
		.imh{
		width:1050px;
		}
		.dc{
		padding:0px;
		margin:0px;
		}
		